#infovis {
  width:870px;
  height:500px;
}

#infovis3 {
  width:870px;
  height:500px;
}

#infovis2 {
  width:870px;
  height:170px;
}

#root {
	font-weight: bold;
	font-size: 16px;
	border: 10px solid #FF8800;
	overflow: hidden;
}

#nav_house {
	position: relative;
	top: -1px;
}
